@import '../../helpers/typography.scss';
@import '../../helpers/colors.scss';

.video-card {
    width: 100%;
    height: 140px;
    margin-bottom: 30px;
    background: $white;
    cursor: pointer;

    .video-cover {
        box-sizing: border-box;
        width: 170px;
        height: 120px;
        margin-left: 1px;
        margin-right: 10px;
    }

    .mc-info {
        width: calc(100% - 180px);
        height: 100px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 10px;

        .video-title {
            font-size: $header3;
            // padding: 5px 0 0;
            font-weight: bold;
        }

        .video-description {
            font-size: 12px;
            margin: 4px 4px 10px;
            line-height: 18px;
            font-weight: 100;
        }
    }
}