@import '../../helpers/colors.scss';

.header {
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    padding: 0 16px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
    background: $backgroundColor;
}

.search {
    margin-right: 30px;
}

.avatar {
    margin-right: 5px;
}

.log-out {
    cursor: pointer;
}