@import '../../helpers/colors.scss';

.multiple-select-wrapper {
    width: 400px;
    position: relative;

    .selector-trigger {
        box-sizing: border-box;
        border-bottom: 1px solid $mainColor;
        height: 30px;
        padding: 2px;
        cursor: pointer;
        width: 100%;
    }

    .selector-popup {
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        margin-top: 4px;
        max-height: 150px;
        overflow-y: scroll; 
        background: #F7F7F7;
        position: absolute;


        .selector-tag {
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            padding: 0 16px;
            cursor: pointer;
            border-bottom: 1px solid $white;
            overflow-x: scroll;

            &:last-of-type {
                border: none;
            }
        }

        .selected {
            background: $backgroundColor;
            color: $mainColor;
        }
    }

}

.filter-input {
    border: none;
    cursor: pointer;
}