@import "../../helpers/colors.scss";

.avatar{
    background: $mainColor;
    border-radius: 100%;
    color: #ffffff;
    font-size: 22px;
    width: 40px;
    height: 40px;

    .avatar-photo {
        width: 100%;
        border-radius: 100%;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
    }
}