/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import './helpers/colors.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//  --------- Start -----------

@font-face {font-family: "YS Text Regular Regular";
	src: url("./fonts/23a02e8af5ef33a9b496dd524401550f.eot"); /* IE9*/
	src: url("./fonts/23a02e8af5ef33a9b496dd524401550f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("./fonts/23a02e8af5ef33a9b496dd524401550f.woff2") format("woff2"), /* chrome、firefox */
	url("./fonts/23a02e8af5ef33a9b496dd524401550f.woff") format("woff"), /* chrome、firefox */
	url("./fonts/23a02e8af5ef33a9b496dd524401550f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("./fonts/23a02e8af5ef33a9b496dd524401550f.svg#YS Text Regular Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto-Regular.ttf") format("ttf"); /* IE9*/
}

body {
	// background: $backgroundColor;
	font-family: "Roboto";
}

.ms-flex-inline {
    display: flex;
}

.ms-justify-center {
	justify-content: center;
}

.ms-wrap {
    flex-wrap: wrap;
}

.ms-space-between {
    justify-content: space-between;
}

.ms-justify-end {
	justify-content: flex-end;
}

.ms-align-center {
    align-items: center;
}

.ms-flex-column {
    display: flex;
    flex-flow: column;
}

.ms-btn-long {
	width: 237px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
}

.ms-input {
	border: none;
	border-bottom: 1px solid $mainColor;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

.ms-textarea {
	border-color: $mainColor;
	resize: none;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

